// Variables
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rojo: red;
$color-azul: blue;
$color-deeppink: deeppink;
$fuente-oxanium: "Oxanium", cursive;
$fuente-math: math;
$fuente-eb-garamond: "EB Garamond", serif;
$fuente-noto-sans-jp: "Noto Sans JP", sans-serif;
